.annotations {
	float: right;
	width: 25%;
}

.doc {
	width: 65%;
	float: left;
}

.annotation-entry {
	float: right;
	width: 25%;
	display: none;
}

.annotation-entry textarea {
	rows: 15;
	cols: 15;
}

.annotation-submit {
	margin-right: 10px;
}

.selection {
	/*color: rgb(150, 214, 42);*/
}

.selection:hover {
	text-decoration: underline;
} 