<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Headnotes{% endblock %}</title>

    <!--  hair stylists  -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/stylesheets.css" rel="stylesheet">
  </head>
  <body>

  <div class="navbar-top">
  <div class="container header-inner">
    <a href="/"class="logo">Headnotes</a>
    </div>
  </div>

  <div class="container">
    <div class="row-fluid" id="body-wrapper">
    <div class="doc span7">
      <h3>{{doc.title}}</h3>
<!--       {% if doc.tagline %}
      <span class="tagline">{{doc.tagline}}</span>
      {% endif %} -->
      <ul class="meta">
        {% if doc.author %}
        <li class="author">by {{ doc.author}}</li>
        {% endif %}
        {% if doc.author %}
        <li class="publication">{{ doc.publication}}</li>
        {% endif %}
        {% if doc.date %}
        <li class="date">{{ doc.date}}</li>
        {% endif %}
      </ul>

      <div class="doc-text" id="doc-text">
      </div>
    </div>
    <div class="annotations">
      <h3>Annotations</h3>
      <p class="tip">**Highlight anywhere to create an annotation</p>
      <ul class="annotations-list">
        {{test}}
      </ul>
    </div>  
    <div class="annotation-entry">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="/static/js/src/models/annotationModel.js" type="text/javascript"></script>
  <script src="/static/js/src/models/documentModel.js" type="text/javascript"></script>
  <script src="/static/js/src/collections/annotationCollection.js" type="text/javascript"></script>
  <script src="/static/js/src/views/annotationEntryForm.js" type="text/javascript"></script>
  <script src="/static/js/src/views/annotationListView.js" type="text/javascript"></script>
  <script src="/static/js/src/views/documentView.js" type="text/javascript"></script>
<!--   // <script src="/static/js/src/views/selectionView.js" type="text/javascript"></script> -->

  <script type="text/javascript">
    var hn = hn || {};
    (function ($) {
      
      hn.docModel = new Doc({
        id: {{doc.id}}
      });
      hn.annotations = new AnnotationCollection({});
      //creates new annotations collection from tempalted json data
      hn.annotations.reset({{annotations|safe}});
      hn.listView = new AnnotationListView({collection: hn.annotations});
      hn.docView = new DocumentView({collection: hn.annotations, model: hn.docModel});
    })(jQuery);
  </script>
  <script src="/static/js/src/ajaxSetup.js" type="text/javascript"></script>
  </body>
</html>